.main {
    width: 100%;
    height: 100vh;
}
.header {
    padding-top: 5%;
    background: url('./images/img8.jpg') center / cover;
    width: 100%;
    height: 100vh;
}
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
h1 a{
    text-decoration: none;
}
